@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

.header {
  background-color: $accent;
  &__iner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
  }
}