@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// === CONTAINER ===

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;  
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

// === HEADER ===

.header {
  background-color: $accent;
  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
}

.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}

@media (min-width: 768px) {
  .logo__link {
    margin-left: 0px;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    position: absolute;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

// === HERO ===

.hero {
  background-image: url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
  
}

// @media (min-width: 640px) {
//   .hero {
//     min-height: 386px;
//     background-position: center center;
//   }
// }

.top-slider {
  background: rgba(33, 33, 33, 0.5);
  &__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
  }
  &__title {
    font-family: 'RobotoCondensed-Regular';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 36px 0 36px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 61px;
      margin: 0 auto;
      background-color: $text-color;
    }
  }
  &__text {
    display: none;
  }
  &__btn {
    display: none; 
  }
}

@media (min-width: 640px) {
  .top-slider {
    &__item {
      min-width: 386px;
      min-height: 386px;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 50px 0 15px;
      max-width: 520px;
    }
    &__btn {
      display: block;
      font-weight: 500;
      margin: 0 auto 113px;
      font-size: 18px;
      background-color: $accent;
      color: $bg-color;
      padding: 16px 45px;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px) {
  .top-slider {
    &__item {
      min-height: 465px;
    }
    &__title {
      padding: 87px 0 0;
      margin: 0 auto 0;
    }
    &__text {
      display: block;
      padding: 25px 0 32px;
      font-family: 'RobotoCondensed-Regular';
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      max-width: 587px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1024px) {
  .top-slider {
    &__item {
      min-height: 618px;
    }
    &__title {
      padding-top: 101px;
      font-size: 84px;
      line-height: 84px;
      letter-spacing: 2px;
      max-width: 750px;
    }
  }
}

@media (min-width: 1440px) {
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding-top: 107px;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 865px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      max-width: 866px;
    }
  }
}

// === CALL ===

.call {
  background-color: $accent;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__text {
    // @extend %dosis-300
    margin-bottom: 40px;
  }
  &__btn {
    padding: 16px 15px;
    background-color: $bg-color;
    color: $accent;
    font-size: 18px;
    @extend %roboto-500;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .call {
    text-align: left;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__box {
      max-width: 427px;
    }
    &__text {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1024px) {
  .call {
    &__box {
      max-width: 695px;
    }
  }
}

@media (min-width: 1440px) {
  .call {
    &__inner {
      padding: 0 80px;
    }
    &__box {
      max-width: 796px;
    }
  }
}